

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    

    
}

body {
    font-family: 'ralewayregular' , sans-serif;
    background-color: #ffffff;
    color: grey;
    
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


[class*="container"] {
    width: 1325px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}



/*---------------------------header bar---------------------*/

body>header {
    background-color: black;
    color: white;
    letter-spacing: 2px;
    font-size: 13px;
    height: 49px;
    padding-top: 12px;
}

.header-container{
    height: 30px;
    padding-top: 3px;
}
header span {
    color: #27c7ac;
    font-family: 'ralewaybold';
}

nav {
    width: 600px;
    position: absolute;
    right: 0;
    top: 0;
}

nav ul {
    position: absolute;
    right: 0;
    top: 0;
}

.header-container ul li {
    display:inline-block;
    padding-left: 52px;
    padding-top: 5px;
}


/*---------------------------header slider---------------------*/

.slider {
    height: 625px;
    background: #ffffff;/* Old Browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #ceced7 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #f6f6f6), color-stop(100%, #ceced7));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #ceced7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #ceced7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #ceced7 100%); /* IE 10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 60%, #ceced7 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ceced7', GradientType=0 );/* IE6-9 */
}

.header-photo img{
    position: absolute;
    top: 82px;
    left: -40px;;
    height: 535px;
    width: 735px;
    
}

#left-arrow, #right-arrow {
    color: #27c7ac;
    font-size: 90px;
    font-family: 'ralewaylight';
}

#right-arrow {
    position: absolute;
    top: 263px;
    right: 9px;
}

#left-arrow {
    position: absolute;
    top: 263px;
    left: 9px;
}


.header-slider-header {
    width: 50%;
    position: absolute;
    right: 115px;
    top: 160px;
    text-align: center;
    color: black;
    font-size: 25px;
}

.header-slider-header span {
    color: #27c7ac;
    font-family: 'ralewaybold';
}

.header-slider-article {
    width: 480px;
    text-align: center;
    color: black;
    line-height: 150%;
    font-size: 19px;
    position: relative;
    left: 640px;
    top: 260px;
}

#paragraph-wide {
    width: 530px;
    position: relative;
    left: -20px;
    top: 0;
}

#paragraph-narrow {
    width: 450px;
    position: relative;
    left: 0;
    top: 0;
}



.header-slider-button {
    width: 340px;
    height: 65px;
    background-color: #27c7ac;
    position: absolute;
    right: 280px;
    top: 405px;
    color: white;
    text-align: center;
    padding-top: 16px;
    font-size: 26px;
    border-radius: 10px;
}

/*---------------------------main---------------------*/

main {
    height: 445px;
    padding-top: 20px;
}

.main-box-left, .main-box-middle, .main-box-right {
    width: 410px;
    height: 290px;
    display: inline-block;
    vertical-align: top; 
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative:
    border: 1px solid blue;
}

.main-box-left  {
    position: absolute;
    left: 0;
    top: 10px;
    background-image: url(../images/box1_img.jpg);
}

.main-box-right {
    width: 433px;
    height: 310px;
    position: absolute;
    right: 0;
    top: 10px;
    border: 1px solid lightgrey;
}

.main-box-middle  {
    position: absolute;
    left: 450px;
    top: 10px;
    background-image: url(../images/box2_img.jpg);
}


.main-box-cover{
    height: 80px;
    width: 100%;
    background-color: rgba(255,255,255, 0.40);
    font-family: 'ralewaybold';
    font-size: 1.2rem;
    color: black;
    padding-top: 12px;
    padding-left: 20px;
    position: absolute;
    top: 197px;
}

.main-box-right .main-box-cover {
    position: absolute;
    top: 25px;
}


.main-box-bar {
    height: 9px;
    width: 170px;
    background-color: #27c7ac;
    margin-top: 3px;
}

.main-box-article {
    color: #7e7c7e;
    font-size: 17px;
    font-family: 'ralewayregular';
    line-height: 150%;
    padding-top: 30px;
    padding-right: 50px;
}

/*---------------------------aside cennik---------------------*/


.price {
    height: 880px;
    background-color: #f2f0f2;
    
}

.aside-container price {
    width: 100%;
    height: 100%;
}

.aside-container-title{
    height: 120px;
    padding-top: 55px;
    color: grey;
    font-size: 18px;
}

.aside-container-bar {
    height: 10px;
    width: 390px;
    background-color: #27c7ac;
    position: absolute;
    left: 0;
    top: 95px;
}


.aside-box-price {
    width: 100%;
    height: 715px;
    position: relative;
}

.aside-box-price>* {
    display: inline-block;
    vertical-align: top;
    height: 620px;
    width: 410px;  
    border: 1px solid #c3c1c3;
    border-radius: 2px;
    background-color: #faf8fa;
    margin-top: 50px;
}

.aside-box-left  {
    position: absolute;
    left: 0;
    bottom: 0;
}

.aside-box-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.aside-box-middle  {
    position: absolute;
    left: 450px;
    bottom: 0;
}


.aside-box-middle {
    border: 1px solid #27c7ac;
    background-color: #27c7ac;
}

.aside-box-left-outer-circle, .aside-box-middle-outer-circle,
.aside-box-right-outer-circle {
    height: 65px;
    width: 65px; 
    border-radius: 50%;
    position: relative;
    top: -40px;
    left: 175px;
}

.aside-box-left-inner-circle, .aside-box-middle-inner-circle, .aside-box-right-inner-circle {
    height: 30px;
    width: 30px; 
    border-radius: 50%;
    position: relative;
    top: -88px;
    left: 192px;
}

.aside-box-left-inner-circle, .aside-box-right-inner-circle {
    background-color: #c3c1c3;
}
   
.aside-box-middle-inner-circle  {
    background-color: #ffffff;
}

.aside-box-left-outer-circle, .aside-box-right-outer-circle {
    background-color: #ffffff;
    border: 2px solid #c2c7c9;
}
   
.aside-box-middle-outer-circle  {
    background-color: #27c7ac;
}


.aside-box-right-title, .aside-box-left-title, .aside-box-middle-title {
    text-align: center;
    font-size: 28px;
    position: relative;
    top: -55px;
}

.aside-box-right-title, .aside-box-left-title{
    color: #27c7ac;
}

 .aside-box-middle-title {
    color: #ffffff;
}

.aside-box-left-price-circle, .aside-box-right-price-circle, .aside-box-middle-price-circle {
    height: 156px;
    width: 156px; 
    border-radius: 50%;
    position: relative;
    top: -35px;
    left: 130px;   
    background-color: #ffffff;
}

.aside-box-left-price-circle, .aside-box-right-price-circle {
    border: 2px solid #c3c1c3;
    color:#c3c1c3 ; 
}

.aside-box-middle-price-circle {
    color: #27c7ac; 
}

.aside-box-left-price-circle p, .aside-box-right-price-circle p, .aside-box-middle-price-circle p {
    text-align: center;
    font-family: 'ralewaybold';
}

.aside-box-left-price-circle p:first-of-type, .aside-box-right-price-circle p:first-of-type, .aside-box-middle-price-circle p:first-of-type {
    font-size: 55px;
    position: relative;
    top: 25px;
    margin-bottom: 3px;
}

.aside-box-left-price-circle p:nth-of-type(2), .aside-box-right-price-circle p:nth-of-type(2), .aside-box-middle-price-circle p:nth-of-type(2) {
    font-size: 18px;
    position: relative;
    top: -35px;
    left: 48px;
}

.aside-box-left-info, .aside-box-right-info, .aside-box-middle-info {
    height: 60px;
    text-align: center;
    font-size: 29px;
    padding-top: 10px;
}

.first {
    border-top: 2px solid #ffffff;
}

.aside-box-right-info:nth-of-type(2n), .aside-box-left-info:nth-of-type(2n) {
    background-color:#e0e3e4;
    color: #a3abae;
}


.aside-box-right-info:nth-of-type(2n+1), .aside-box-left-info:nth-of-type(2n+1) {
    background-color:#eff1f1;
    color: #949da1;
}

.aside-box-middle-info:nth-of-type(2n) {
    background-color:#ffffff;
    color: #a3abae;
}

.aside-box-middle-info:nth-of-type(2n+1) {
    background-color:#eff1f1;
    color: #949da1;
}

#empty1, #empty2{
    background-color:#fafafa;
}


#empty3 {
    background-color:#27c7ac;
}


.aside-box-left-button, .aside-box-right-button, .aside-box-middle-button {
    height: 45px;
    width: 150px;
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
    border-radius: 7px;
    position: relative;
    bottom: -20px;
    left: 130px;
}

.aside-box-left-button, .aside-box-right-button {
    background-color:#27c7ac;
    color: #ffffff;
}
.aside-box-middle-button {
    background-color:#ffffff;
    color: #27c7ac;
}


/*---------------------------aside kontakt---------------------*/

.contact {
    height: 730px;
}

.aside-box-contact {
    width: 100%;
    height: 500px;
}


.aside-box form {
    width: 100%;
    height: 400px;
    background-color: #ffffff;

    
}

.contact .aside-container-title h2 {
    position: relative;
    top: -55px;
    color: grey;
    font-size: 27px;
}

input, textarea {
    height: 80px;
    width: 800px;
    border: 1px solid #27c7ac;
    display: inline;
    font-size: 40px;
    font-family: 'ralewaylight';
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 25px;
}


textarea#message {
    height: 225px;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 10px;
    resize: none;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #e0e3e4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #e0e3e4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #e0e3e4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #e0e3e4;
}

.contact figure#red-chair  {
    height: 255px;
    width: 326px;
    position: absolute;
    top: 110px;
    right: 115px;
}

.contact figure#red-chair  img {
    height: 255px;
    width: 326px;
    border-left: auto;
    border-right: auto;
}
    
.contact figure#agreement {
    height: 60px;
    width: 60px;
    position: absolute;
    border: 1px solid #27c7ac;
    top: 420px;
    right: 400px;
    padding-top: 8px;
    padding-left: 4px;
}

.contact p {
    height: 60px;
    width: 320px;
    position: absolute;
    top: 420px;
    right: 60px;
    padding-top: 8px;
    padding-left: 4px;
    font-size: 22px;
    color: #e0e3e4;
}

input[type="submit" i]{
    height: 80px;
    width: 400px;
    position: absolute;
    border: 1px solid #27c7ac#27c7ac;
    border-radius: 10px;
    background-color: #27c7ac;
    top: 495px;
    right: 60px;
    padding-top: 6px;
    padding-left: 4px;
    font-family: 'ralewaybold';
    font-size: 39px;
    color: #ffffff;
}



/*---------------------------footer---------------------*/

.footer-container {
    height: 120px;
    font-size: 20px;
    color: #c3cac3;
}


.footer-logo  {
    position: absolute;
    right: 0;
    top: 10px;
    border-left: 30px;
    color: #979597;
}


.footer-social  {
    position: absolute;
    right: 270px;
    top: 0;
}


.footer-social figure {
    display: inline-block;
    padding-left: 5px;
}

.footer-social figure img {
    height: 40px;
    width: 40px;
}

.footer-logo span {
    font-family: 'ralewaybold';
}


